<div [class.mobile]="app.mobile" *ngIf="app.data" [class.showContent]="app.showContent">
  <div class="lastarrival" *ngIf="app.montres.length > 0" [class.catalog]="catalog">
    <p class="title" *ngIf="!catalog">{{ app.data[app.lg][title] | uppercase }}</p>
    <div class="menus" *ngIf="filter">
      <p
        *ngFor="let menu of menus; let i = index"
        class="clickable"
        (click)="clickMenu(i)"
        [class.clicked]="filterClicked == i"
      >
        {{ menu }}
      </p>
    </div>
    <div *ngIf="catalog" class="graybloc">
      <p class="title">{{ app.data[app.lg][title] | uppercase }}</p>
      <div class="topoptions">
        <div class="tri">
          <p>{{ app.data[app.lg]['tri'] }} :</p>
          <select [ngModel]="tri" (change)="onTriChange($event)">
            <option *ngFor="let option of getOrdres()" [value]="option.id">
              {{ option[app.lg] }}
            </option>
          </select>
        </div>
        <div class="tri">
          <p>{{ app.data[app.lg]['filtre'] }} :</p>
          <select [(ngModel)]="selectedFilter">
            <option *ngFor="let option of getFilterOrdres()" [ngValue]="option">
              {{ option[app.lg] }}
            </option>
          </select>
          <button class="add" (click)="addFilter()">+</button>
        </div>
        <div class="filter" *ngFor="let filt of getFilters(); let i = index">
          <div class="titlediv">
            <button (click)="deleteFilter(filt)">x</button>
            <p class="title">{{ filt[app.lg] }}</p>
          </div>
          <div class="filtermenus">
            <p
              *ngFor="let filtermenu of getFilterMenus(filt); let j = index"
              class="clickable"
              (click)="addExcluded(filt, j)"
              [class.clicked]="isClicked(i, j)"
              [class.disabled]="isDisabled(filt, filtermenu)"
            >
              {{ filtermenu }}
            </p>
          </div>
        </div>
        <div class="bottombuttons">
          <p class="clickable" *ngIf="hasFilter()" (click)="deleteFilters()">
            {{ app.data[app.lg]['delete_filters'] }}
          </p>
          <p class="clickable" *ngIf="hasActiveFilter()" (click)="deleteActiveFilters()">
            {{ app.data[app.lg]['reinit_filters'] }}
          </p>
        </div>
      </div>
    </div>

    <div *ngIf="catalog">
      <input
        #searchInput
        type="text"
        class="search"
        placeholder="{{ app.data[app.lg].search }}"
        [(ngModel)]="search"
      />
      <img class="loupe" src="loupe.png" />
    </div>

    <div class="content" [class.showContent]="app.showContent">
      <p
        class="arrow clickable"
        (click)="nextPage(-1)"
        *ngIf="!app.mobile && !catalog && montresActuelles.length > 5"
      >
        <
      </p>
      <div
        #montresContainer
        class="montres"
        [class.centered]="
          (!app.mobile && montresActuelles.length < 5) ||
          (app.mobile && montresActuelles.length < 3)
        "
      >
        <div
          *ngFor="let montre of getMontresActuelles()"
          class="montre clickable"
          (click)="clickMontre(montre)"
        >
          <img
            src="{{ app.link }}watches/{{ montre.id }}/{{ montre.otherData.images[0] }}"
            alt="imgMontre"
          />
          <p [innerHTML]="highlight(montre.reference)"></p>
          <p [innerHTML]="highlight(montre.marque)"></p>
          <p [innerHTML]="highlight(montre.modele)"></p>
          <p [innerHTML]="highlight(getTri(montre))" *ngIf="catalog"></p>
        </div>
      </div>
      <p
        class="arrow clickable"
        (click)="nextPage(1)"
        *ngIf="!app.mobile && !catalog && montresActuelles.length > 5"
      >
        >
      </p>
    </div>
  </div>
</div>
