<div
  *ngIf="app.data"
  [class.paysage]="paysage"
  [class.portrait]="!paysage"
  [class.scrolled]="isScrolled"
  [class.mobile]="app.mobile"
>
  <div class="mobilemenu" [class.visible]="app.mobilemenuvisible">
    <div *ngFor="let menu of getMenus()">
      <p class="clickable" (click)="clickMenu(menu['id'])">{{ menu[app.lg] | uppercase }}</p>
      <div class="line"></div>
    </div>
  </div>

  <div class="header">
    <div class="icons">
      <img class="menu clickable" src="menu.png" (click)="clickMobileMenu()" />
      <img
        class="drapeau clickable"
        (click)="app.lg == 'fr' ? (app.lg = 'en') : (app.lg = 'fr')"
        src="{{ app.lg }}.png"
      />
      <img class="moon clickable" src="moon.png" (click)="toggleDarkMode()" />
      <img
        class="loupe clickable"
        src="loupe.png"
        (click)="clickMenu('watches', undefined, true)"
      />
    </div>
    <div class="logo clickable" (click)="clickMenu('home')">
      <img src="logo.png" />
    </div>

    <div class="menus">
      <p
        *ngFor="let menu of getMenus()"
        class="clickable"
        (click)="clickMenu(menu['id'])"
        [class.clicked]="menuClicked == menu['id']"
        [innerHTML]="menu[app.lg] | uppercase"
      ></p>
    </div>

    <div class="menus" *ngIf="isDevMode()">
      <p
        *ngFor="let menu of getMenus2()"
        class="clickable"
        (click)="clickMenu(menu['id'])"
        [class.clicked]="menuClicked == menu['id']"
        [innerHTML]="menu[app.lg] | uppercase"
      ></p>
    </div>
  </div>

  <button
    (click)="updateData()"
    *ngIf="isDevMode()"
    style="position: fixed; left: 20px; top: 50px; z-index: 1000"
  >
    Save Data
  </button>

  <router-outlet></router-outlet>

  <div class="footer">
    <div class="mentionsconf">
      <p class="clickable" (click)="clickMenu('legal')">{{ app.data[app.lg].legalmentions }}</p>
    </div>
    <div class="line"></div>
    <p class="rightsreserved">@{{ currentYear }} {{ app.data[app.lg].rightsreserved }}</p>
  </div>
</div>
