.title {
  font-weight: bold;
  padding-top: 2vh;
  padding-bottom: 3vh;
  text-align: center;
  font-size: 30px;
  font-family: 'menus';
}

.movements,
.complic {
  padding-bottom: 3vh;
}
.types {
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 90%;
  padding-bottom: 2vh;
  pointer-events: unset;
  overflow-x: auto;
  .type {
    width: 30vw;
    max-width: 400px;
    min-width: 120px;
    margin: 0vh 1vw;
    img {
      width: 100%;
      object-fit: cover;
      height: 200px;
      border-radius: 20px;
      filter: drop-shadow(1px 1px 3px black) drop-shadow(1px 1px 3px black);
    }
  }
  .menu {
    padding-bottom: 2vh;
    height: 40px;
    font-size: 20px;
    margin: 0vh 3vw;
    text-align: center;
    font-family: 'menus';
  }
  .menu2 {
    padding-top: 2vh;
    text-align: center;
  }
}
.complic {
  .types {
    .type {
      width: 170px;
      min-width: 170px;
      max-width: 170px;
    }
  }
}
