.form-grid {
  padding: 0vh 5vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 12px;
  div {
    width: 50%;
    margin: auto;
    label {
      display: flex;
      margin-bottom: 1vh;
    }
    input {
      width: 100%;
      color: black;
    }
  }
}

.image-grid {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.image-grid img {
  width: 120px;
  height: auto;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.seldoss {
  margin: auto;
  display: flex;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.missing {
  filter: drop-shadow(0px 0px 2px red);
}

.images {
  margin-top: 5vh;
}

.boutons {
  margin: auto;
  display: flex;
  margin-top: 3vh;
  margin-bottom: 3vh;
  button {
    width: 20%;
    padding: 10px;
    border-radius: 10px;
  }
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* toujours au-dessus */
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #555;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
